# color
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ls
alias ll='ls -ahlF'
alias l='ll'
alias la='ls -A'

# music
alias mvt='cat $HOME/Music/$ART/.tracks'
alias mvg='git add -v $HOME/Music/**/.tracks'
function mv3() {
  local dir="$HOME/Music/$@"
  mkdir -p $dir
  mv -v *.mp3 $dir
}
function mva() {
  if [ -z "$1" ]; then
	echo "No track name passed"
  else
	local dir="$HOME/Music/$ART"
	mkdir -p $dir
	local file="$dir/.tracks"
	echo $@ >> $file
	xclip -o >> $file
	echo >> $file 
  fi
}
alias ьме='mvt'
alias ьмп='mvg'
alias ьмф='mva'
alias ьм3='mv3'

# common
alias py='python'
alias cx='chmod +x'
alias untar='tar zfx *.tar.gz'
alias clr='clear'
alias sys='$SUDO systemctl'
alias fh='find . -name'
alias fhi='find . -iname'
alias \?='which'
alias mk='mkdir -pv'
alias rm='/bin/rm -v'
alias rmr='/bin/rm -rvf'
alias rmv='/bin/rm -rf'
alias cp='cp -r'
function mcd() {
    mkdir -p $1
    cd $1
}
function mcp() {
    cp -r $1 $2
    cd $2
}
alias cjava='cat **/*.java'
alias cjava.='cat *.java'
alias cxml='cat **/*.xml'
alias cxml.='cat *.xml'
alias csql='cat **/*.sql'
alias csql.='cat *.sql'
alias clog='cat **/*.log'
alias clog.='cat *.log'
alias ccob='cat **/*.cob'
alias ccob.='cat *.cob'
alias p='ping -c 1 8.8.8.8'
alias grp='grep -riIsn'
alias egrp='egrep -risn'
function lgrep() {
    egrep "[-(*]$1[- *]"
}
function lgrp() {
    egrp "[-(*]$1[- *]"
}
if (( $+commands[meld] )) ; then
    alias mld='meld $@ &'
fi
alias psa='ps aux'
alias psg='ps | grep'
alias psag='ps aux | grep'
function psk() {
    if [[ -z $2 ]]
    then
        $SUDO kill -KILL $(psg $1 | cut -f1 -d' ')
    else
        $SUDO kill -KILL $(psg $1 | cut -f2 -d' ')
    fi
    psg $1
}
function psak() {
    if [[ -z $2 ]]
    then
        $SUDO kill -KILL $(psag $1 | cut -f2 -d' ')
    else
        $SUDO kill -KILL $(psag $1 | cut -f3 -d' ')
    fi
    psag $1
}
function showdot() {
    local file=$(tempfile)
    local delay=${2:-2}
    (dot -Tsvg $1 -o ${file} && firefox ${file}&) && sleep ${delay} || true
    /bin/rm ${file}
}

# path
alias ~='cd $HOME'
alias cd-='cd -'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias cdr='cd /'
alias cdi='cd $HOME/IdeaProjects'
alias cdd='cd $HOME/Downloads'
alias cdm='cd $HOME/Music'
alias cdp='cd $HOME/Pictures'
# study
alias cds='cd $HOME/study'
alias cdc='cd $HOME/study/cs'
alias cdg='cd $HOME/study/go/golang-labs'
alias cdo='cd $HOME/study/os'
alias cdz='cd $HOME/study/spz'
# end study
function find-aux() {
    find $1 -type d -name $2 -print -quit 2> /dev/null
}
function jmp() {
    if [[ -z $1 ]] ; then
	    cd $HOME
	    return
    fi
    local root=$1
    local dir=$2
    if [[ -z $dir ]] ; then
	    root=$HOME
	    dir=$1
    fi
    if [[ ! -e $root ]] ; then
        root=`find-aux $HOME $root`
    fi
    cd `find-aux $root $dir`
}
alias jmp.='jmp .'
alias jmpr='jmp /'

# sudo
SUDO=''
if (( $+commands[sudo] )) ; then
    alias s='sudo'
    alias sds='sudo -s'
    if [[ $EUID -ne 0 ]] ; then
	    SUDO='sudo'
    fi
fi

# apt
if (( $+commands[apt] )) ; then
    alias apt='$SUDO apt'
    alias pac='apt install'
    alias pacs='apt search'
    alias pacr='apt remove'
    alias paca='apt autoremove'
    alias pacu='apt update && apt upgrade'
fi

# pacman
if (( $+commands[pacman] )) ; then
    alias pacman='$SUDO pacman'
    alias pac='pacman -S --needed'
    alias pacs='pacman -Ss'
    alias pacr='pacman -Rs'
    alias pacu='pacman -Syu'
fi

# yum
if (( $+commands[yum] )) ; then
    alias yum='$SUDO yum'
    alias pac='yum install'
    alias pacs='yum search'
    alias pacr='yum remove'
    alias pacu='yum upgrade'
fi

# common
function pac!() {
  pac $1
  echo $1 >> ~/.install/packages
}

# emacs
if (( $+commands[emacs] )) ; then
    export EDITOR='emacs'
    function em() {
        emacs $@ &
    }
    alias emn='emacs -nw'
    alias sem='$SUDO emacs $@ &'
    alias ecfg='em ~/.emacs'
    alias ez='em ~/.zshrc'
    alias ea='em ~/.aliases'
    alias el='em **/*.log'
    alias el.='em *.log'
    alias esql='em **/*.sql'
    alias esql.='em *.sql'
    alias et='em *.txt'
fi

# zsh
if [ -f ~/.zshrc ] ; then
    alias zu='source ~/.zshrc'
fi

# launch
if (( $+commands[firefox] )) ; then
    alias ff='firefox'
fi
if (( $+commands[nautilus] )) ; then
    alias naut='nautilus'
    alias nau='nautilus .&'
    alias snau='$SUDO nautilus .&'
elif (( $+commands[dolphin] )) ; then
    alias naut='dolphin'
    alias nau='dolphin .&'
    alias snau='$SUDO dolphin .&'
fi
if (( $+commands[systemsettings5] )) ; then
    alias ss5='systemsettings5&'
fi

# heroku
if (( $+commands[heroku] )) ; then
  alias hr='heroku run'
  alias hrw='heroku run web'
  alias hrs='heroku restart'
  alias hc='heroku config'
  alias hcs='heroku config:set'
  alias hl='heroku logs --tail'
  alias hs='heroku stop'
  alias hsw='heroku stop web'
fi

# git
if (( $+commands[git] )) ; then
    alias gsw='git show'
    alias gcl='git clone'
    alias gst='git status -uno'
    alias gsta='git status'
    alias gm='git merge --ff origin'
    alias gmm='git merge --ff master'
    alias gpl='git pull --ff origin'
    alias gpm='git pull --ff origin master'
    alias gd='git diff'
    alias gdm='git diff master'
    alias gdt='git difftool'
    alias gdh='git diff HEAD'
    alias gdth='git difftool HEAD'
    alias gr='git reset'
    alias grh='git reset --hard'
    alias grm='git rm'
    alias grf='git rm -rf'
    alias grc='git rm --cached'
    alias grv='git revert'
    alias gf='git fetch'
    alias gmt='git mergetool'
    alias gc='git checkout'
    alias gc-='git checkout -'
    alias gcm='git checkout master'
    alias gb='git branch'
    alias gbd!='git branch | egrep -v "master|develop|\*" | xargs git branch -D'
    alias branch='git checkout -b'
    alias gbl='git blame'
    alias ga='git add'
    alias gcom='git commit -m'
    alias gacom='git commit -am'
    alias gsa='git stash apply'
    alias gsl='git stash list'
    alias gsp='git stash pop'
    alias gsd='git stash drop'
    alias gss='git stash'
    alias gsh='git stash show'
    alias gsave='git stash && git stash apply'
    alias gcp='git cherry-pick'
    alias gcpc='git cherry-pick --continue'
    alias gl='git log'
    function gll() {
        if [[ -z $2 ]] ; then
            git log $1
        fi
        local end=$3
        if [[ -z $end ]] ; then
            end=$2
        fi
        git log -L $2,$end:$1
    }
    alias gp='git push --set-upstream origin'
    function gp! () {
        local branch=`git branch 2> /dev/null | /bin/grep \* | cut -f2 -d' '`
        git push --set-upstream origin $branch
    }
fi

# go
if (( $+commands[go] )) ; then
  alias gob='go build'
  alias gop='go tool pprof'
  alias got='go test'
  alias gotc='go test -cover'
  alias gor='go run'
fi
