# color
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ls
alias ll='ls -ahlF'
alias l='ll'
alias la='ls -A'

# music
function mv3() {
  local dir="$HOME/Music/$@"
  mkdir -p $dir
  mv -v *.mp3 $dir
}
function mva() {
  if [ -z "$1" ]; then
	echo "No track name passed"
  else
	local dir="$HOME/Music/$ART"
	mkdir -p $dir
	local file="$dir/.tracks"
	echo $@ >> $file
	xclip -o >> $file
	echo >> $file 
  fi
}
alias ьмф='mva'
alias ьм3='mv3'

# common
alias grep='grep -risn'
alias py='python'
alias cx='chmod +x'
alias untar='tar zfx'
alias clr='clear'
alias sys='$SUDO systemctl'
alias fh='find . -name'
alias fhi='find . -iname'
alias \?='which'
alias mk='mkdir -pv'
alias rm='rm -v'
alias rmr='rm -rvf'
alias rmv='rm -rf'
alias cp='cp -r'
function mcd() {
  mkdir -p $1
  cd $1
}
alias clog='cat **/*.log'
alias clog.='cat *.log' 
alias p='ping -c 1 8.8.8.8'

# path
alias ~='cd $HOME'
alias cd-='cd -'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias cdr='cd /'
alias cdi='cd $HOME/IdeaProjects'
alias cdd='cd $HOME/Downloads'
alias cdm='cd $HOME/Music'
alias cdp='cd $HOME/Pictures'
# study
alias cds='cd $HOME/study'
alias cdc='cd $HOME/study/cs'
alias cdg='cd $HOME/study/go/golang-labs'
alias cdo='cd $HOME/study/os'
alias cdz='cd $HOME/study/spz'
# end study
function find-aux() {
  find $1 -type d -name $2 -print -quit 2> /dev/null
}
function jmp() {
  if [[ -z $1 ]] ; then
	cd $HOME
	return
  fi
  local root=$1
  local dir=$2
  if [[ -z $dir ]] ; then
	root=$HOME
	dir=$1
  fi
  if [[ ! -e $root ]] ; then
	root=`find-aux $HOME $root`
  fi
  cd `find-aux $root $dir`
}
alias jmp.='jmp .'
alias jmpr='jmp /'

# sudo
SUDO=''
if (( $+commands[sudo] )) ; then
  alias s='sudo'
  alias sds='sudo -s'
  if [[ $EUID -ne 0 ]] ; then
	SUDO='sudo'
  fi
fi

# apt
if (( $+commands[apt] )) ; then
  alias apt='$SUDO apt'
  alias pac='apt install'
  alias pacs='apt search'
  alias pacr='apt remove'
  alias paca='apt autoremove'
  alias pacu='apt update && apt upgrade'
fi

# pacman
if (( $+commands[pacman] )) ; then
  alias pacman='$SUDO pacman'
  alias pac='pacman -S --needed'
  alias pacs='pacman -Ss'
  alias pacr='pacman -Rs'
  alias pacu='pacman -Syu'
fi

# yum
if (( $+commands[yum] )) ; then
  alias yum='$SUDO yum'
  alias pac='yum install'
  alias pacs='yum search'
  alias pacr='yum remove'
  alias pacu='yum upgrade'
fi

# common
function pac!() {
  pac $1
  echo $1 >> ~/.install/packages
}

# emacs
if (( $+commands[emacs] )) ; then
  export EDITOR='emacs -nw'
  alias em='emacs -nw'
  alias sem='$SUDO emacs -nw'
  alias ecfg='emacs -nw ~/.emacs'
  alias ez='emacs -nw ~/.zshrc'
  alias ea='emacs -nw ~/.aliases'
  alias el='emacs -nw **/*.log'
  alias el.='emacs -nw *.log'
  alias et='emacs -nw *.txt'
fi

# zsh
if [ -f ~/.zshrc ] ; then
  alias zu='source ~/.zshrc'
fi

# launch
if (( $+commands[firefox] )) ; then
  alias ff='firefox'
fi
if (( $+commands[nautilus] )) ; then
  alias naut='nautilus'
  alias nau='nautilus .&'
  alias snau='$SUDO nautilus .&'
elif (( $+commands[dolphin] )) ; then
  alias naut='dolphin'
  alias nau='dolphin .&'
  alias snau='$SUDO dolphin .&'
fi
if (( $+commands[systemsettings5] )) ; then
  alias ss5='systemsettings5&'
fi

# heroku
if (( $+commands[heroku] )) ; then
  alias hr='heroku run'
  alias hrw='heroku run web'
  alias hrs='heroku restart'
  alias hc='heroku config'
  alias hcs='heroku config:set'
  alias hl='heroku logs --tail'
  alias hs='heroku stop'
  alias hsw='heroku stop web'
fi

# git
if (( $+commands[git] )) ; then
  alias gcl='git clone'
  alias gst='git status -uno'
  alias gsta='git status'
  alias gl='git log'
  alias gsh='git show'
  alias gbl='git blame'
  alias gm='git merge'
  alias gmm='git merge master'
  alias gpl='git pull origin'
  alias gpm='git pull origin master'
  alias gd='git diff'
  alias gdt='git difftool'
  alias gdh='git diff HEAD'
  alias gdth='git difftool HEAD'
  alias gr='git reset'
  alias grh='git reset --hard'
  alias grm='git rm'
  alias grf='git rm -f'
  alias grc='git rm --cached'
  alias gf='git fetch'
  alias gmt='git mergetool'
  alias gc='git checkout'
  alias gc-='git checkout -'
  alias gcm='git checkout master'
  alias gb='git branch'
  alias branch='git checkout -b'
  alias ga='git add'
  alias gcom='git commit -m'
  alias gacom='git commit -am'
  alias gsa='git stash apply'
  alias gsl='git stash list'
  alias gsp='git stash pop'
  alias gss='git stash'
  function gp() {
	local branch=$1
	if [ -z $branch ] ; then
	  branch=`git branch | /bin/grep \* | cut -f2 -d' '`
	fi
	git push --set-upstream origin $branch
  }
fi

# go
if (( $+commands[go] )) ; then
  alias gob='go build'
  alias gop='go tool pprof'
  alias got='go test'
  alias gotc='go test -cover'
  alias gor='go run'
fi
